*{
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Economica');
@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Lovers+Quarrel');
@import url('https://fonts.googleapis.com/css?family=Cuprum');
@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Federo');
@import url('https://fonts.googleapis.com/css?family=Gugi');
@import url('https://fonts.googleapis.com/css?family=Marvel');
@import url('https://fonts.googleapis.com/css?family=Caveat');
@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');

a {
  text-decoration: none;
}




.App-home {
  
  background-image: url("https://images.unsplash.com/photo-1533279443086-d1c19a186416?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: right;
  width: 100vw;
  height: 100vh;
 
}

.App-header {
  position: absolute;
  top: 50px;
  right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  padding: 10px;
   color: rgb(0,80,120);
}

.App-title {
  text-align: left;
  font-size: 5em;
  font-weight: lighter;
  font-family: 'Marvel';
  text-shadow: 2px 2px grey;
  cursor: default;
  margin: 10px;
}


.login-box {
  display: flex;
  justify-content:flex-end;
  align-items: center;
  font-family: 'Sacramento', cursive;
  font-size: 2em;
  margin: 10px;
}

.login-home-button {
   background:transparent;
  -webkit-border-radius: 8;
  border-radius: 8px;
  font-family: 'Marvel', cursive;
  color: #cf5050;
  font-size: 1em;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  border: none;
}

.home-footer {
  display: flex;
  font-family: 'Marvel';
  font-size: 10px;
  color: grey;
  text-align: left;
  padding: 10px;
  cursor: default;
}

@media (max-width: 450px) {
  header {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.App-login {
  background-image: url('https://images.unsplash.com/photo-1506712465535-e301badbc49d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}

.login-header {

  color: white;
  text-align: right;
}

.login-title {
  color: white;
  padding: 50px;
  font-weight: lighter;
  text-align: left;
  font-size: 4em;
  font-family: 'Satisfy';
  text-align: center;
  color: #fff;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0073e6, 0 0 40px #0073e6, 0 0 50px #0073e6, 0 0 60px #0073e6, 0 0 70px #0073e6;
  }
}


.login-title a {
   color:white;
   text-decoration: none;
}

.login-container {
  align-content: center;
  text-align: center;  
  padding: 50px;
  text-align: center;
  margin: auto;
}

.reg-container {
  background: #eeeeee;
  opacity: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 12px;
  display: inline-block;

}

.small-button {
  margin: 10px;  
  background: black;
  font-family: 'Trebuchet MS', sans-serif;
  color: #ffffff;
  font-size: 14px;
  padding: 5px;
  border-radius: 8px;
}

.big-button {
  margin: 10px;
  
   background: black;
  border-radius: 8px;
  font-family: 'Trebuchet MS', sans-serif;
  color: #ffffff;
  font-size: 14px;
  padding: 5px;
  text-decoration: none;
}

.align-input-fields input {
  margin-left: 5px;
  padding: 5px;
  border: none;
  box-shadow: 1px 1px 1px 1px grey;
  font-family: 'Trebuchet MS', sans-serif;
 
}

.align-input-fields textarea {
  margin-left: 5px;
  padding: 5px;
  border: none;
  box-shadow: 1px 1px 3px 1px grey;
  font-family: 'Trebuchet MS', sans-serif

}

@media (max-width: 450px)  {
  .App-login {
    display: flex;
    flex-direction: column;
    background: #005078;
  }
  .login-title {
    padding: 10px;
    font-size: 3em
    
  }
  .login-title {
    padding: 10px;
    font-size: 3em
    
  }
  .big-button {
    font-size: 16px;
    margin: 3px;
  }

  .small-button {
    font-size: 16px;
    margin: 3px;
  }
}

.dashboard {
  display: flex;
  padding-left: 50px;
  justify-content: space-between;
}

.dash-greeting {
  background: white;
  font-weight: bold;
  text-align: left;
  padding-left: 20px;
  font-size: 25px;
  font-family: 'Marvel';
  color: rgb(7, 7, 7);
  margin: 20px 0 20px 0;
  cursor: default; 
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

.dash-greeting h1{
  font-size: 25px;
  font-family: 'Marvel';
  display: flex;
  margin-bottom: 106px;
  
}

.online h1{
  font-size: 12px;
  color: #ff6040;
  margin-left: 17px;
  
}



.greeting img{
  
}

.greeting h4{
  font-family: 'Caveat';
  font-size: 15px;
}

.all-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100px;  
  padding-right: 20px;
  border-radius: 10px;
 
}

.all-title {
  background-image: -webkit-linear-gradient(top right,rgb(0,80,120) 25%, rgb(0,40,50)  60%, rgb(0,80,120) 70%);
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-align: right;
  font-size: 3em;
  font-family: 'Marvel';
  text-decoration: none;
  
}

.all-title a {
   color: #23314b;
   text-shadow: 2px 2px grey;
   text-decoration: none;
}

.prof-pic-small {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  overflow: hidden;
  display: inline-block;
  margin-right: 20px;
}
.prof-pic-small img{
  width: 100%;
  height: 100%;
}

.user-box{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  font-family: 'Marvel', cursive;
  color: rgb(100, 100, 100);
  
}

.user-box img {
  margin: 5px;
  cursor: pointer;
  width:30px;
  height: 30px;
}


.add-box {
  padding: 0 20px 0 0;
  display: flex;
	justify-content: flex-start;
	align-items: center;
}




.gallery-container {
  display: flex;
  flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
  align-content: flex-start;
  text-decoration: none !important;
 
}

.gallery-container img{
  display: flex;
  flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
  align-content: flex-start;
  text-decoration: none !important;
 
}






.gallery-header h1{
  font-family: 'Marvel', cursive;
  
}

.gallery-header h3{
  font-family: "Homemade Apple";
  color: #cf5050;
  
}




.add-box {
  padding: 0 20px 0 0;
  display: flex;
	justify-content: flex-start;
	align-items: center;
}

.big-button {
  margin: 10px;
   background-image: linear-gradient(to bottom, #23314b, #5c72a1);
  border-radius: 8px;
  font-family: 'Trebuchet MS', sans-serif;
  color: #ffffff;
  font-size: 14px;
  padding: 5px;
  text-decoration: none;
}

#journal-textbox {
  width: 300px;
  height: 200px;
}

.user-edit-page {
  display: flex;
  justify-content: flex-start; 
}
  .prof-pic-big {
  border: 10px solid #eeeeee;
  width: 350px;
  max-height: max-content;
  overflow: hidden;
  margin-left: 50px;
}
.prof-pic-big img{
  height:100%;
  width:100%;
 
}
.prof-pic-small {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  overflow: hidden;
  display: inline-block;
  margin-right: 20px;
}
.prof-pic-small img{
  width: 100%;
}
#user-deets {
  display: flex;
  align-items: center;
}

@media (max-width: 450px) {
  .prof-pic-big {
    margin-left: 10px;
    border: 3px solid #eeeeee;
    display: none;
  }
}

.board h1{
  font-family: 'Marvel', cursive;
  text-decoration: none;
}

.board h3{
  font-family: 'Homemade Apple', cursive;
  font-size: 21px;
  color: #cf5050;

}







#journal-textbox {
  width: 300px;
  height: 200px;
}

.whatever {
  display: flex;
  justify-content: center;
}


.whatever img {
  height: 600px;
  width: auto;
}

.connect-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.white-space {
  white-space: pre-line;
}
.connect-sub {
  display: flex;
  flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
  align-content: flex-start;
}



.search-members {
  width: 320px;
  background-color: rgb(0,80,120);
  padding: 10px;
  display: block;
  color: black;
  font-family: 'Trebuchet MS', sans-serif;
  margin-top: 10px;
 
}

.search-members h3{
  font-family: 'Satisfy', cursive;
  color: white;
}



.search-members img {
  width: 100%;
}

.social-follow{
 
  padding: 1px 10px;
}

.social-follow a {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

.social-follow a:hover{
  animation: bounce 1s;
}

@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

a.github {
  color: rgb(53, 51, 51);
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: black;
}

.entry-holder{
  background-color: #eeeeee;
  margin: 10px;
  padding: 10px;
  width: 300px;
  color: black;
  font-family: 'Caveat', cursive;
  cursor: pointer;
  box-shadow: 1px 1px 3px grey;
  position: relative;
  text-decoration: none !important;
  border:none;
}

.entry-holder:hover {
  box-shadow: 5px 10px 10px grey;
  transform: scale(1.05);
  transition: 0.25s ease-out;
  -webkit-transition: .25s ease-out;
  text-decoration: none !important;
  
  
  
}



.entry-holder a {
  color: #ff6040 ;
  font-family: sans-serif;
  font-size: 12px;  
  text-decoration: none;
  font-family: 'Caveat', cursive;
  text-decoration: none !important;
  
 

}

.entry-body {
  background-color: white;
  color: #333333;
  font-family: 'Caveat';
  font-size: 14px;
  max-height: 300px;
   margin: 10px 0 20px 0;
  overflow: hidden;
  text-decoration: none !important;
  
 
  }


.entry-body b{
  color: black;
  font-family: 'Caveat', cursive;
  text-decoration: none !important;
  
 
}

.entry-holder p {
  color: #ff6040 ;
  font-family: sans-serif;
  font-size: 18px;  
  font-family: 'Caveat', cursive;
  text-decoration: none !important;

}



.entry-body  img {
  width: 100%;
  cursor: pointer;
  text-decoration: none;
  
 
}









@media (max-width: 450px) {

  .dashboard {
    display: flex;
    flex-direction: column-reverse;
    padding-left: 10px;
    
  }
  .dash-greeting {
    display: none;
  }
  .gallery-container {
    width: 93%  
  }
  .all-header {
    justify-content: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
  }
  
  .user-box {
    flex-direction: row;
  }
  h1 {
    font-size: 24px;
  }
  h3 {
    display: none;
  }
  .align-input-fields textarea {
    width: 220px; 
  }

  .entry-holder {
    box-shadow: 1px 1px 0 white;
    text-decoration: none;
  
    
  }
  .entry-holder a {
    color: #23314b(0,80,120) ;
    font-size: 16px;  
    text-decoration: none;
  }
}






.Viewer {
  margin: 30px;
  padding-right: 30px;
}
 h1{
  font-family: 'Marvel', sans-serif;
  color:black; 
}
 h3{
  font-family: 'Satisfy', cursive;
  color: #ff6040;
}
.Viewer p{
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}
#mob123 {
  display: none;
}

#bigger-image {
  margin: auto;
  padding: 10px;
  background: #eeeeee;
}
#bigger-image img {
  width: 100%;
  max-width: 1200px;
  max-height: 800px
}

#close-delete {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}
#entry-delete {
  color: red;
  cursor: pointer;
  font-family: 'Trebuchet MS',  sans-serif;
  border-style: inset;
  border: rgb(7, 7, 7);
}
#entry-delete a {
  color: rgb(0,80,120);
  cursor: pointer;
  font-family: 'Trebuchet MS', sans-serif;
}
@media (max-width: 450px) {
  #bigger-image {
    height: 100%;
    padding: 0;
  }
  #close-delete {
    flex-direction: column;
    justify-content: flex-start;
  }
  #entry-delete {
    background: white;
    margin-bottom: 3px;
  }
  #mob123 {
    display: block;
    font-family: 'Satisfy', cursive;
    font-size: 16px;
    color: rgb(0,80,120);
  }
}













